.highlighted-card {
    border-radius: 26px;
    background: #3F87F5;
    box-shadow: 0px 42px 34px 0px rgba(63, 135, 245, 0.25);
    height: 480px;
}

.position-left {
    left: 87%;
}

.bg-red {
    background-color: #FF4E4E;
}

.margin-bottom {
    margin-bottom: 100px;
}

.btn-white {
    width: 168px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #3F87F5;
    font-size: 16px;
    font-weight: 700;
}

.btn-price {
    border-radius: 24px;
    opacity: 0.1;
    background: #F496D1;
}
.btn-inner {
    color: #3F87F5;
    font-weight: 700;
}